body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.painel {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td a{
    text-decoration: none;
    color: var(--bs-body-color);
}

th {
    background-color: #f2f2f2;
}

.trsel:hover{
    background-color: #f2f2f2;

}

.menu {
    background-color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 0 0;
    list-style: none;
}

.menu li.active {
    background-color: #444;
    color: white;
    border: 1px solid #333;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.747);
}

.menu li {
    padding: 10px 2.5vw;
    border: 1px solid #333;
}

.menu li:hover {
    background-color: #444;
    border: 1px solid #444;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.747);
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

/*
.group-70 {
    width: 70%;
    text-align: left;
    min-width: 415px;
}

.group-50 {

    width: 50%;
    align-items: center;
}

.group-15 {
    width: 15%;
    text-align: left;
    min-width: 130px;
}

.group-30 {
    width: 30%;
    text-align: left;
}

.group-70 input,
.group-30 input,
.group-30 button,
.group-15 input{
    width: 90%;
    min-width: 130px;    
}

.group-30 button{
    margin-top: 10px;
}
.group-15 select,
.group-30 select {    
    width: 90%;
    min-width: 130px;        
    padding: 4px;
}

.group-15 label,
.group-30 label,
.group-70 label{
    display: block;
}
*/

.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.container-flex input[type="file"] {
    display: none;
}

.group-flex{
    flex: 1; 
    min-width: 450px; 
    margin: 5px 10px 5px 0;    
}

.group-flex textarea {
    width: 100%;
    resize: none;    
    border: 1px solid #ccc;
    box-sizing: border-box;    
    height: auto;
}

.group-fix{
    width: 130px; 
    margin: 5px;    
}

.group-fix select{
    padding: 4px;
}

.group-fix label,
.group-fix select,
.group-fix input,
.group-flex label,
.group-flex input
{    
    display: block;
    width: 100%;
}

.btn-left {
    margin-right: auto !important; 
}
  
.btn-right {
    margin-left: auto !important;
}

.btn-link,
.btn-img  {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.847);        
    text-decoration: none;
    text-align: center;
}

.btn-link{
    width: 130px;    
    padding: 15px 20px;    
    margin: 5px;
}
.btn-img  {
    width: 100px;
    height: 50px;
    margin: 5px 10px; 
    padding: 10px 35px;           
}

.btn-img img,
.btn-img label{
    width: 100%;
}

.btn-link:hover,
.btn-img:hover {    
    background-color: #444;
    color: #fff;
    box-shadow: none;
}

.btn-link:active,
.btn-img:active {    
    background-color: #444;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.747);    
}

.btn-disabled
 {    
    background-color: #868686;
    color: #dad8d8;
    box-shadow: none;
    cursor: auto;            
}

.btn-disabled:hover
 {    
    background-color: #868686;
    color: #dad8d8;
    box-shadow: none;
    cursor: auto;            
}


.btn-img input[type="file"] {
    display: none;
}
  
.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.right-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
