:root {
    --cor-btn-ativo: #333;
    --cor-btn-select: #444;
    --cor-btn-inativo: #868686;
    --cor-fundo-principal: #333;
    --cor-fundo-ativo: #444;        
    --cor-fonte-principal: #fff;  
    --cor-fonte-corpo: #212529;  
    --cor-fonte-principal-inativa: #dad8d8;
    --cor-sombra-principal: rgba(0, 0, 0, 0.747);
    --cor-fundo-tb-title: #f2f2f2;
    --cor-fundo-selecao: #f2f2f2;  
  }  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-fundo-principal);
    color: var(--cor-fonte-principal);
    padding: 10px;
}

.painel {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 auto;
    border: 1px solid var(--cor-fundo-principal);
}

tbody {
    display: block;
    overflow-y: scroll;
    height: calc(100vh - 400px);
}

th,
td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;    
}

td a{
    text-decoration: none;
    color: var(--cor-fonte-corpo);
}

th {
    background-color: var(--cor-fundo-tb-title);
}

.sel a{
    display: block;
}

.sel:hover{
    background-color: var(--cor-fundo-selecao);
    cursor: pointer;
}

.menu {
    background-color: var(--cor-fundo-principal);
    font-family: Arial, sans-serif;
    text-align: center;
    box-shadow: 0px 4px 8px var(--cor-sombra-principal);        
    margin-bottom: none;    
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 0 0;
    list-style: none;
    margin-bottom: none!important;
}

.menu li.active {
    background-color: var(--cor-fundo-ativo);
    color: var(--cor-fonte-principal);
    border: 1px solid var(--cor-fundo-principal);
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.menu li {
    border: 1px solid var(--cor-fundo-principal);
}

.menu li:hover {
    background-color: var(--cor-fundo-ativo);
    border: 1px solid var(--cor-fundo-ativo);
}

.menu a {
    color: var(--cor-fonte-principal);
    text-decoration: none;
    transition: color 0.3s;
    display: block;
    margin: 10px auto ;    
    width: 150px;
}

.submenu {
    background-color: var(--cor-fundo-principal);
    font-family: Arial, sans-serif;
    text-align: center;
    display: none!important;
    position: absolute;
}

.has-submenu:hover .submenu {
    display: block!important;
    box-shadow: 0px 4px 8px var(--cor-sombra-principal);
    width: 150px;  
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.container-flex input[type="file"] {
    display: none;
}

.group-flex{
    flex: 1; 
    min-width: 420px; 
    margin: 5px 10px 5px 0;   
    vertical-align: middle; 
}

.group-flex-m{
    flex: 1; 
    min-width: 200px; 
    margin: 5px 10px 5px 0;    
}

.group-flex textarea {
    width: 100%;
    resize: none;    
    border: 1px solid #ccc;
    box-sizing: border-box;    
    height: auto;
}

.group-fix{
    width: 130px; 
    margin: 5px;    
}

.title {
    background-color: var(--cor-fundo-principal);
    color: var(--cor-fonte-principal);
    padding: 3px;
}

.group-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
} 

.group-title button  {
    background-color: var(--cor-btn-ativo);
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: var(--cor-fonte-principal);
    padding: 4px;   
    margin: 5px;   
}

.group-title button img,
.title-a-btn img {
    height: 100%;
    margin: auto;
}

.group-btn-xl {
    width: 300px!important; 
    height: 40px!important; 
}

.group-title button:hover,
.title-a-btn:hover {
    background-color: var(--cor-btn-select);
    color: var(--cor-fonte-principal);
    box-shadow: none;
}

.group-title button:active,
.title-a-btn:active {    
    background-color: var(--cor-fundo-ativo);
    box-shadow: inset 0px 2px 4px var(--cor-sombra-principal);    
}

.title-a-center{
    flex: 1; 
    min-width: 200px;
    color: var(--cor-fonte-principal);
    margin: 5px;
    text-align: center; 
    display: inline-block;
    text-decoration: none;
    cursor: default;
}

.title-a-btn{
    background-color: var(--cor-btn-ativo);
    width: 100px;
    height: 30px;   
    border-radius: 3px;
    border: none;    
    text-align: center; 
    display: inline-block;
    color: var(--cor-fonte-principal);
    text-decoration: none;    
    margin: 5px;   
    padding: 4px;
}

.group-fix select{    
    padding: 4px;
}

.ml-0{
    margin-left: 0 !important;
}

.mr-1{
    margin-right: 10px !important;
}

.group-fix label,
.group-fix select,
.group-fix input,
.group-flex label,
.group-flex input,
.group-flex-m label,
.group-flex-m input
{    
    display: block;
    width: 100%;
}

.btn-left {
    float: left;
}
  
.btn-right {
    float: right;
}

.btn-link,
.btn-img,
.btn-reg {
    border-radius: 3px;
    background-color: var(--cor-fundo-principal);
    color: var(--cor-fonte-principal);
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px var(--cor-sombra-principal);        
    text-decoration: none;
    text-align: center;
}

.btn-link {
    width: 100px;    
    padding: 10px 15px;    
    margin: 5px;
}

.btn-link-l {
    width: 150px;    
}

.btn-img  {
    width: 100px;
    height: 50px;
    margin: 5px 10px; 
    padding: 10px 35px;  
}

.btn-reg {
    width: 40px;
    height: 25px;
}

.btn-reg  img {
    width: 70%;
}


.btn-img img,
.btn-img label {
    width: 100%;
}

.btn-link:hover,
.btn-img:hover,
.btn-reg:hover {    
    background-color: var(--cor-fundo-ativo);
    color: var(--cor-fonte-principal);
    box-shadow: none;
}

.btn-link:active,
.btn-img:active,
.btn-reg:active {    
    background-color: var(--cor-fundo-ativo);
    box-shadow: inset 0px 2px 4px var(--cor-sombra-principal);    
}

.btn-disabled
 {    
    background-color: var(--cor-btn-inativo);
    color: var(--cor-fonte-principal-inativa);
    box-shadow: none;
    cursor: auto;            
}

.btn-disabled:hover
 {    
    background-color: var(--cor-btn-inativo);;
    color: var(--cor-fonte-principal-inativa);;
    box-shadow: none;
    cursor: auto;            
}


.btn-img input[type="file"] {
    display: none;
}
  
.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.right-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    min-width: 400px;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes hide {
    from { opacity: 1 }
    to   { opacity: 0 }
  }

  .msg-box {
    animation: hide 5s linear forwards;
    position: fixed;    
    z-index: 1;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: large;
    top: 10%;
  }

  .modal-exclusao {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-exclusao-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    min-width: 400px;
    text-align: center;
}

.close-exclusao {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-exclusao button{

    border-radius: 3px;
    background-color: var(--cor-fundo-principal);
    color: var(--cor-fonte-principal);
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px var(--cor-sombra-principal);        
    text-decoration: none;
    text-align: center;
    margin: 5px;
    padding: 10px 15px; 
}

.modal-exclusao button:hover {
    background-color: var(--cor-btn-ativo);
}

@media (max-width: 615px) {
    .menu ul {
        display: inline-block;
        width: 100%;  
        height: auto;      
    }
    .menu li {
        width: 100%;
    }
    .menu a {
        width: 100%;
        margin: 5px auto;            
    }

    .has-submenu:hover .submenu {
        width: 100%;  
    }     
}